.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#FFFFFF;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:20px;text-decoration:none;text-transform: none;color:#FFFFFF;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#B65C30;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Highlight_text {font-size:14px;color:#C2C0BD;}
.Panel_text {}
.Question {font-size:13px;}
.Heading_3 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#9B6449;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Answer {font-size:13px;color:#FFF5EC;}
