.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#40201D;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-family:'Palatino Linotype';font-weight:bold;font-style:italic;font-size:20px;text-decoration:none;text-transform: none;color:#7F5434;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Palatino Linotype';font-weight:bold;font-style:italic;font-size:28px;text-decoration:none;text-transform: none;color:#40201D;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Price {font-family:'Palatino Linotype';font-weight:bold;font-size:24px;color:#40201D;}
.Normal_Text_Light {font-size:18px;color:#FFFFFF;}
.Heading_3 {color:#FFFFFF;}
