.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#1C1C1C;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:18px;text-decoration:none;text-transform: none;color:#8B418C;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:24px;text-decoration:none;text-transform: none;color:#373082;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Highlight_text {font-size:14px;color:#201C4A;}
.Bulleted_List {font-family:'Open Sans';font-weight:bold;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#FFFFFF;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Panel_text {font-size:11px;}
.Question {font-size:13px;}
.Heading_3 {font-size:16px;color:#FFFFFF;}
.Answer {font-size:13px;color:#0B0B0B;}
