.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#24354F;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-family:Arial;font-weight:normal;font-style:normal;font-size:20px;text-decoration:none;text-transform: none;color:#24354F;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Electrolize';font-weight:normal;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#3B3F44;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_4 {font-family:Arial;font-weight:bold;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#24354F;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {color:#C6DBE4;}
.Normal_text_light {color:#FFFFFF;}
