.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#343434;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:20px;text-decoration:none;text-transform: none;color:#BB5409;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;text-transform: none;color:#181818;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Highlight_text {font-size:13px;color:#99755B;}
.Subheading {color:#FFFFFF;}
.Panel_text {color:#99755B;}
.Question {font-size:13px;}
.Answer {font-size:13px;color:#636363;}
